html {
  font-family: "Roboto", sans-serif; }

body {
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

html {
  font-family: "Roboto", sans-serif; }

body {
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px; }
  .header__logo {
    width: 40px;
    height: 40px;
    padding: 10px 0 10px 50px; }

h1 {
  visibility: hidden;
  height: 0;
  width: 0; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px; }
  .navigation__link {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin-left: 20px;
    line-height: 60px; }

.is-active {
  position: relative;
  color: #00acdc;
  margin-left: 0; }

.is-active::after {
  content: "";
  position: absolute;
  background-color: #00acdc;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  border-radius: 2px; }

.navigation__link:hover {
  color: #00acdc; }

html {
  font-family: "Roboto", sans-serif; }

body {
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px; }

.card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 30px 14px 15px;
  margin-bottom: 48px; }
  .card__block-image {
    padding: 0 5px;
    padding-bottom: 45px; }
  .card__block-photo {
    width: 160px;
    height: 134px; }

.card__title {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: #000;
  font-weight: 500;
  line-height: 15px;
  font-size: 12px; }

.card__code {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: #000;
  margin-top: 5px; }

.card__rating {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .stars:last-child {
    margin-right: 0; }
  .stars div:nth-child(-n + 5) {
    width: 15px;
    height: 15px;
    background: url("../images/star.svg") no-repeat; }

.stars__star {
  margin-right: 5px; }

.stars-1 > div:nth-child(-n + 1) {
  width: 15px;
  height: 15px;
  background: url("../images/star-active.svg") no-repeat; }

.stars-2 > div:nth-child(-n + 2) {
  width: 15px;
  height: 15px;
  background: url("../images/star-active.svg") no-repeat; }

.stars-3 > div:nth-child(-n + 3) {
  width: 15px;
  height: 15px;
  background: url("../images/star-active.svg") no-repeat; }

.stars-4 > div:nth-child(-n + 4) {
  width: 15px;
  height: 15px;
  background: url("../images/star-active.svg") no-repeat; }

.stars-5 > div:nth-child(-n + 5) {
  width: 15px;
  height: 15px;
  background: url("../images/star-active.svg") no-repeat; }

.card__value {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: #000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .card__value-price {
    display: inline-block;
    text-align: center;
    line-height: 13px; }
  .card__value-sum {
    display: inline-block;
    font-weight: bold;
    font-size: 16px; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 40px;
  background: #00acdc;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px; }

.button:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc; }

/*# sourceMappingURL=main.css.map */
